@font-face {
  font-family: CabinetGrotesk-Extrabold;
  src: url(fonts/CabinetGrotesk_Complete/Fonts/OTF/CabinetGrotesk-Extrabold.otf)
}

@font-face {
  font-family: Satoshi-Medium;
  src: url(fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf)
}

/* lavender-blush #f3e8eeff
laurel-green #bacdb0ff
russian-green #729b79ff
black-coffee #3e363fff
olive-drab-7 #4d4730ff */

* {
  color: #f3e8eeff;
  background-color: #3e363fff;
  font-family: Satoshi-Medium;
}

html, body {
  height: 100%;
  margin: 0;
  max-width: 1200px;
  margin: 0 auto;
}

.new-project-button {
  padding: 10px;
  font-size: large;
}

.header {
  border: 7px solid #bacdb0ff;
  border-bottom: 0px;
  display: flex;
  justify-content: center;
  padding: 15px;
}

h1 {
  font-family: CabinetGrotesk-Extrabold;
  font-size: xxx-large;
}

h2 {
  font-family: CabinetGrotesk-Extrabold;
  font-size: xx-large;
}

h3 {
  font-family: CabinetGrotesk-Extrabold;
  font-size: x-large;
  cursor: pointer;
}

h3:hover {
  color: #729b79ff;
}

.sidebar-and-active-project {
  border: 7px solid #bacdb0ff;
  display: flex;
  height: 100%;
}

.sidebar {
  border-right: 7px solid #bacdb0ff;
  flex: 1;
  padding: 30px;
}

.active-project-and-todos {
  flex: 4;
}

.active-project {
  border-bottom: 7px solid #bacdb0ff;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.active-projects-todos {
  margin: 20px;
}

.active-project-todo {
  border: 2px solid #bacdb0ff;
  background-color: #4d4730ff;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 30px 20px 0px;
  padding: 5px;
  max-width: 630px;
}

.todo {
  background-color: #4d4730ff;
}

.edit-project-button, .delete-project-button {
  font-size: medium;
  height: 30px;
}

#todo-edit-button, #todo-delete-button {
  max-width: 50px;
  background-color: #3e363fff;
}

.todo-edit-and-delete-buttons {
  display: flex;
}

.new-todo-button {
  padding: 10px;
  margin: 20px;
  font-size: large;
}

/* modal css from https://sabe.io/tutorials/how-to-create-modal-popup-box */
.todo-modal, .project-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(114, 155, 121, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.todo-modal-content, .project-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4d4730ff;
  padding: 1.5rem;
  width: 32rem;
  height: 36rem;
  border-radius: 0.5rem;
}

.project-modal-content {
  width: 28rem;
  height: 5rem;
}

.todo-close-button, .project-close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  color: #3e363fff;
  background-color: #bacdb0ff;
}

.todo-close-button:hover, .project-close-button:hover {
  background-color: #729b79ff;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
}
